<?xml version="1.0" encoding="UTF-8"?> 
<Configuration status="WARN" monitorInterval="30">

    <!-- Logging Properties -->
    <Properties>
        <Property name="PATTERN">%d{yyyy-MM-dd HH:mm:ss,SSS} %p [%c] - %m%n</Property>
        <Property name="LOG_ROOT">${sys:user.home:-}/.ciphergateway/work/rmdemo/logs</Property>
    </Properties>

    <Appenders>
   
	    <!--Console: 定义通用控制台输出-->
        <Console name="stdout" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${PATTERN}"/>
        </Console>

	    <!--Console: URL访问信息便于调试-->
        <Console name="urlstdout" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="%m%n"/>
        </Console>

	    
	    <!--Global: 全局日志-->
        <RollingFile name="allf" bufferedIO="true" fileName="${LOG_ROOT}/all.log" filePattern="${LOG_ROOT}/all-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="102400KB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <!--Level: 警告监控-->
	    <RollingFile name="warnf" fileName="${LOG_ROOT}/warn.log" filePattern="${LOG_ROOT}/warn-%d{yyyy-MM-dd}-%i.log">
            <LevelRangeFilter minLevel="WARN" maxLevel="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="102400KB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        
	    <!--Level: 错误监控-->
       <RollingFile name="errorf" fileName="${LOG_ROOT}/error.log" filePattern="${LOG_ROOT}/error-%d{yyyy-MM-dd}-%i.log">
            <LevelRangeFilter minLevel="ERROR" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="102400KB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <!--Level: Spring bean creation报错-->
        <Console name="beanstdout" target="SYSTEM_OUT" follow="true">
            <RegexFilter regex=".*bean creation exception.*" useRawMsg="true" onMatch="DENY" onMismatch="ACCEPT"/>
            <PatternLayout pattern="${PATTERN}"/>
        </Console>
        
	    <!--Module: Request监控-->
        <Console name="requeststdout" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="%m%n"/>
        </Console>
        <RollingFile name="requestf" fileName="${LOG_ROOT}/request.log" filePattern="${LOG_ROOT}/request-%d{yyyy-MM-dd}-%i.log" >
            <PatternLayout pattern="%m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="102400KB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

		
	    <!--Module: SQL日志-->
        <Console name="sqlstdout" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="%m%n"/>
        </Console>
        <RollingFile name="sqlf" fileName="${LOG_ROOT}/sql.log" filePattern="${LOG_ROOT}/sql-%d{yyyy-MM-dd}-%i.log" >
            <PatternLayout pattern="%m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="102400KB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
		
	    <!--Module: Service方法监控-->
       <RollingFile name="methodf" fileName="${LOG_ROOT}/method.log" filePattern="${LOG_ROOT}/method-%d{yyyy-MM-dd}-%i.log" >
            <PatternLayout pattern="%m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="102400KB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
		
	    <!--Module: 登录日志-->
        <RollingFile name="loginf" fileName="${LOG_ROOT}/login.log" filePattern="${LOG_ROOT}/login-%d{yyyy-MM-dd}-%i.log" >
            <PatternLayout pattern="${PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="102400KB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

 	</Appenders>
 
 
     <Loggers>
     
	    <!--调整国际化的级别-->
	    <logger name="org.apache.struts.util.PropertyMessageResources" additivity="false" level="error">     
	    </logger>
	    <!--调整Action创建的级别-->
		<logger name="org.apache.struts.chain.commands.servlet.CreateAction" additivity="false" level="warn">
		</logger>
	    <!--调整数据库事务的打印级别 .HibernateTransactionManager .DataSourceTransactionManager-->
		<logger name="org.springframework.transaction" level="info">
		</logger>
		<logger name="org.springframework.orm.hibernate3" level="info">
		</logger>
		<logger name="org.springframework.jdbc.datasource" level="info">
		</logger>
		<logger name="org.springframework.web.servlet.mvc.method.annotation.ExceptionHandlerExceptionResolver" level="debug">
		</logger>
	    <!--hibernate的INFO较多,忽略之-->
		<logger name="org.hibernate" level="warn">
		</logger>
	    <!--忽略低价值信息-->
		<logger name="org.apache.cxf.service.factory.ReflectionServiceFactoryBean" level="warn">
		</logger>
		<logger name="org.springframework.web.context.support.XmlWebApplicationContext" level="warn">
		</logger>
	
	    <!--URL访问信息定义(只输出到控制台)-->
		<logger name="struts" additivity="false" level="debug">
	        <AppenderRef ref="urlstdout"/>
		</logger>
		<logger name="url" additivity="false" level="info">
	        <AppenderRef ref="urlstdout"/>
		</logger>
		
	    <!--Request监控-->
		<logger name="rmrequestf" additivity="false" level="debug">
	        <AppenderRef ref="requestf" />
		</logger>
		<logger name="rmrequeststdout" additivity="false" level="debug">
	        <AppenderRef ref="requeststdout" />
		</logger>
	
	    <!--SQL日志-->
		<logger name="rmsql" additivity="false" level="debug">
	        <AppenderRef ref="sqlf" />
	        <AppenderRef ref="sqlstdout" />
		</logger>
	
	    <!--Service方法监控-->
		<logger name="rmmethod" additivity="false" level="debug">
	        <AppenderRef ref="methodf" />
		</logger>
	
	    <!--登录日志-->
		<logger name="rmlogin" additivity="false" level="debug">
	        <AppenderRef ref="loginf" />
		</logger>
	
	    <!--错误监控-->
		<logger name="org.quickbundle.third.struts.RmExceptionHandler" additivity="false" level="debug">
	        <AppenderRef ref="stdout" />
			<AppenderRef ref="errorf" />
		</logger>
		<logger name="org.apache.struts.action.ExceptionHandle" additivity="false" level="debug">
	        <AppenderRef ref="stdout" />
			<AppenderRef ref="errorf" />
		</logger>
		<logger name="org.springframework.beans.factory.support.DefaultListableBeanFactory" additivity="false" level="debug">
	        <AppenderRef ref="beanstdout" />
		</logger>
		
		<!--全局日志-->
		<Root level="info" includeLocation="false">
			<AppenderRef ref="stdout" />
			<AppenderRef ref="allf" />
		</Root>
  
    </Loggers>
    
</Configuration>